body{
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
}
span{
    font-weight: bolder;
}
h1 {
    border: 15px solid rgb(87, 21, 21);
    padding: 50px;
    margin: 20px;
    text-align: center;
}
h2{
    font-weight:bold;
}